<div class="grid sm:grid-cols-2 md:grid-cols-4 gap-6 px-12 pt-12">
  <div class="gap-6 space-y-6">
    <%= render CardComponent.new(title: "Le Cheveu Blanc", link: "https://www.instagram.com/le_cheveu_blanc/", image: "illu/illu8.jpg") %>
    <%= render CardComponent.new(title: "Le Cheveu Blanc", link: "https://www.instagram.com/le_cheveu_blanc/", image: "illu/illu2.jpg") %>
    <%= render CardComponent.new(title: "Haut les coeurs", link: "https://open.spotify.com/show/0Sh1i3tvxIYyf1AMFaO6qQ", image: "illu/illu10.jpg") %>
    <%= render CardComponent.new(title: "Le Cheveu Blanc", link: "https://www.instagram.com/le_cheveu_blanc/", image: "illu/illu13.jpg") %>
    <%= render CardComponent.new(title: "Le Cheveu Blanc", link: "https://www.instagram.com/le_cheveu_blanc/", image: "illu/illu17.png") %>
  </div>
  <div class="gap-6 space-y-6">
    <%= render CardComponent.new(title: "Le Cheveu Blanc",       link: "https://www.instagram.com/le_cheveu_blanc/", image: "illu/illu4.jpg") %>
    <%= render CardComponent.new(title: "Le Cheveu Blanc",       link: "https://www.instagram.com/le_cheveu_blanc/", image: "illu/illu14.jpg") %>
    <%= render CardComponent.new(title: "Le Cheveu Blanc",       link: "https://www.instagram.com/le_cheveu_blanc/", image: "illu/illu5.jpg") %>
    <%= render CardComponent.new(title: "Le Cheveu Blanc",       link: "https://www.instagram.com/le_cheveu_blanc/", image: "illu/illu6.jpg") %>
    <%= render CardComponent.new(title: "Les femmes s'en mêlent", link: "https://lfsm.net/",                          image: "illu/illu18.png") %>
  </div>
  <div class="gap-6 space-y-6">
    <%= render CardComponent.new(title: "Kostar",                 link: "https://www.kostar.fr/",                     image: "illu/illu7.jpg") %>
    <%= render CardComponent.new(title: "Les femmes s'en mêlent", link: "https://lfsm.net/",                          image: "illu/illu1.jpg") %>
    <%= render CardComponent.new(title: "Le Cheveu Blanc",       link: "https://www.instagram.com/le_cheveu_blanc/", image: "illu/illu9.jpg") %>
    <%= render CardComponent.new(title: "La cour des miracles",   link: "https://www.lacourdesmiracles.shop/",        image: "illu/illu19.png") %>
    <%= render CardComponent.new(title: "Le Cheveu Blanc",       link: "https://www.instagram.com/le_cheveu_blanc/", image: "illu/illu15.jpg") %>
    <%= render CardComponent.new(title: "Le Cheveu Blanc",       link: "https://www.instagram.com/le_cheveu_blanc/", image: "illu/illu21.jpg") %>
  </div>
  <div class="gap-6 space-y-6">
    <%= render CardComponent.new(title: "Collision devices", link: "https://collisiondevices.com/",              image: "illu/illu20.jpg") %>
    <%= render CardComponent.new(title: "Le Cheveu Blanc",  link: "https://www.instagram.com/le_cheveu_blanc/", image: "illu/illu3.jpg") %>
    <%= render CardComponent.new(title: "Le Cheveu Blanc",  link: "https://www.instagram.com/le_cheveu_blanc/", image: "illu/illu11.jpg") %>
    <%= render CardComponent.new(title: "Le Cheveu Blanc",  link: "https://www.instagram.com/le_cheveu_blanc/", image: "illu/illu12.jpg") %>
    <%= render CardComponent.new(title: "Le Cheveu Blanc",  link: "https://www.instagram.com/le_cheveu_blanc/", image: "illu/illu16.png") %>
  </div>
</div>
